.ivu-form-item {
    margin-bottom: 10px;
}

.hjs {
    margin-top: 0px;
}

.ivu-drawer-body code {
    height: 600px
}

.drawer-footer-buttons {
    width: 640px;
    position: fixed;
    bottom: 0;
    right: 0;
    border-top: 1px solid #e8e8e8;
    padding: 10px 16px;
    text-align: right;
    background: #fff;
}

.vue-form-label-icon .ivu-form-item .ivu-form-item-label {
    padding-right: 4px
}

.vue-form-label-icon .ivu-form-item i {
    font-size: 14px
}

.ivu-card-head {
    padding-top: 6px;
    padding-bottom: 6px;
}

.ivu-card-extra {
    top: 6px
}

.ivu-form .highlight .ivu-form-item-label {
    color: #2b85e4
}

.ivu-form .highlight p {
    color: #2b85e4
}

.ivu-icon-ios-information-circle {
    color: #515a6e
}

.main {
    .logo-con {
        height: 64px;
        padding: 10px;

        img {
            height: 44px;
            width: auto;
            display: block;
            margin: 0 auto;
        }
    }

    .header-con {
        background: #fff;
        padding: 0 20px;
        width: 100%;
    }

    .main-layout-con {
        height: 100%;
        overflow: hidden;
    }

    .main-content-con {
        height: ~"calc(100% - 60px)";
        overflow: hidden;
    }

    .tag-nav-wrapper {
        padding: 0;
        height: 40px;
        background: #F0F0F0;
    }

    .content-wrapper {
        padding: 18px;
        height: ~"calc(100% - 80px)";
        overflow: auto;
    }

    .left-sider {
        .ivu-layout-sider-children {
            overflow-y: scroll;
            margin-right: -18px;
        }
    }
}


#scroll::-webkit-scrollbar {
    width: 5px;
    /*滚动条宽度*/
    height: 5px;
    /*滚动条高度*/
}

/*定义滚动条轨道 内阴影+圆角*/
#scroll::-webkit-scrollbar-track {
    border-radius: 2.5px;
    /*滚动条的背景区域的圆角*/
    background-color: #e6e6e6;
    /*滚动条的背景颜色*/
}

/*定义滑块 内阴影+圆角*/
#scroll::-webkit-scrollbar-thumb {
    border-radius: 2.5px;
    /*滚动条的圆角*/
    background-color: #57c2ff;
    /*滚动条的背景颜色*/
}